:root {
    --max-grid-width: 400px;
}


body {
    font-family: 'Roboto', sans-serif !important;
    background-color: #E5E5E5;
}

.main-container {
    display: grid;
    grid-template-areas: 
            "cl cm cr";
}

h1 {
    margin-top: 32px;
    font-size: 40px;
    margin-bottom: 50px;
}

.container-child-one {
    margin-top: 123px;
    padding-right: 20px;
    height: calc(75vw + 6px);
    max-height: calc(var(--max-grid-width) + 6px);
    grid-area: cl;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-child-two {
    grid-area: cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-child-three {
    margin-top: 123px;
    padding-left: 20px;
    grid-area: cr;
    height: calc(75vw + 6px);
    max-height: calc(var(--max-grid-width) + 6px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn {
    font-family: 'Roboto', sans-serif !important; /*Why is this not set with the body tag?*/
    height: 40px;
    width: 100px;
    background-color: #C4C4C4;
    border: 1px solid #000000;
    font-size: 15px;
}

.btn:hover {
    cursor: pointer;
    background-color: #9e9e9e;
}

.grid-size-selector {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 310px;
    width: 120px;
    background-color: #C4C4C4;
    border: 1px solid #000000;
}

.range-slider {
    margin-top: 40px;
    margin-bottom: 30px;
    transform: rotate(270deg);
    width: 150px;
    height: 30px;
}

.pixel-grid {
    height: 75vw;
    width: 75vw;
    max-width: var(--max-grid-width);
    max-height: var(--max-grid-width);
    border: 3px solid #000000;
    background-color: #FFFFFF;
    display: grid;
}

.color-selector {
    height: 36px;
    width: 94px;
    background-color: #C4C4C4;
    border: 1px solid #000000;
}

footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #DEDDDD;
    text-justify: center;
    text-align: center;
}

footer > p {
    margin-top: 16px;
    margin-right: 0;
    margin-left: 0;
}

.alt-grid-options-menu {
    padding: 30px;
    display: none;
}

.alt-grid-options-menu > .btn {
    margin: 0px 10px 10px 10px;
}

@media (max-width: 690px) {
    .container-child-one {
        display: none;
    }

    .container-child-three {
        display: none;
    }

    .alt-grid-options-menu {
        display: block;
    }

    h1 {
        font-size: 20px;
    }
}

/* Outlines the website's parts.
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}
*/